@{
    ViewData["Title"] = "3ші тапсырма";
}

<div class="text-center">
    <h1 class="display-4">Көліктер базасы</h1>
    <div>
        <a class="btn btn-primary btn-lg enabled" tabindex="-1" role="button" aria-disabled="true" asp-area="" asp-controller="CarsModels" asp-action="Index">Көліктер базасына өту>></a>
    </div>
</div>
